.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"]
{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}
